# Jobs offer preprocessing

## Fix date_publication column

In [ ]:
from data_preprocessing.preprocessing import *
df = fix_date()

In [ ]:
df.date_publication.unique()

## Extract Education Level

In [1]:
from database_management.database import *
df = select_data_with_filter('niveau_etude', None)
df.head()

,_id,link,title,company,details,tags,description,insert_time,DUP,date_publication
0,6374cb413979fb838831f1de,https://www.optioncarriere.com/jobad/fr7d33914...,VENDEUR/ANIMATEUR SPÉCIALISÉ EN BRICOLAGE (H/F),NOV'Action,"[\n\nToulouse\n, \n\n CDI\n , \n\n ...","[\nIl y a 2 jours\n, \nPostuler facilement\n]",{'desc': ' Nous recrutons des Vendeurs/...,16/11/2022,D,2022-11-14
1,6374cb413979fb838831f1df,https://www.optioncarriere.com/jobad/fr1131534...,Animateur commercial en bricolage (H/F),NOV'Action,"[\n\nBrive-la-Gaillarde, Corrèze\n, \n\n ...","[\nIl y a 2 jours\n, \nPostuler facilement\n]",{'desc': ' Nov'Action recrute des Vende...,16/11/2022,D,2022-11-14
2,6374cb413979fb838831f1e0,https://www.optioncarriere.com/jobad/frc0f2749...,Animateur commercial en bricolage (H/F),NOV'Action,"[\n\nToulouse\n, \n\n CDI\n , \n\n ...","[\nIl y a 2 jours\n, \nPostuler facilement\n]",{'desc': ' Nov'Action recrute des Vende...,16/11/2022,D,2022-11-14
3,6374cb413979fb838831f1e1,https://www.optioncarriere.com/jobad/fr7df99c2...,Responsable Technique et Construction F/H ( 76...,MyJob.Company,"[\n\nRouen, Seine-Maritime\n, \n\n 50.000...",[\n\n Il y a 2 heures\n \n],{'desc': ' Description du poste Pour accompag...,16/11/2022,D,2022-11-16
4,6374cb413979fb838831f1e2,https://www.optioncarriere.com/jobad/fr02ff8ee...,"Conseiller Commercial F/H ( 72000 LE MANS, Fra...",Generali,"[\n\nLe Mans, Sarthe\n, \n\n 60.000 €/an\...",[\n\n Il y a 2 heures\n \n],{'desc': ' Description du poste Un métier qui...,16/11/2022,D,2022-11-16

In [17]:
df = extract_education_level()
df.head()

2.0    847
3.0    403
5.0    306
4.0    128
6.0      9
1.0      1
Name: niveau_etude, dtype: int64